<!-- file name : error.ejs
   Name : Rohit
   Student ID : 301315173
	Date : 28-01-2023 -->




<%- include ('partials/header.ejs') %> 

 
<%- include ('partials/main_nav.ejs') %>

<div class='container'>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>



<%- include ('partials/footer.ejs') %>